.triangle-svg {
   width: 100%;
   max-height: 84rem;
   position: absolute;
   top: 12rem;
   animation: triangle 50s linear infinite;

   @keyframes triangle {
      0% {
         transform: scale(1);
      }
      50% {
         transform: scale(1.5);
      }
      100% {
         transform: scale(1);
      }
   }
}
